<table id="data-transformations-t1" class="display">
  <thead>
    <tr>
      <th>Transformation</th>
      <th>F1: Declarativeness</th>
      <th>F2: Shareability</th>
      <th>F3: Custom data transformations</th>
      <th>F4: Independence</th>
      <th>F5: Integration with mapping languages</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td>SPARQL Functions</td>
      <td>declarative described, referenced function &amp; parameters</td>
      <td>Federated Queries</td>
      <td>Yes</td>
      <td>Depend on SPARQL</td>
      <td>Any</td>
    </tr>
    <tr>
      <td>GeoTriples</td>
      <td>declarative described, referenced function &amp; parameters</td>
      <td>No</td>
      <td>No</td>
      <td>Standalone</td>
      <td>R2RML or RML</td>
    </tr>
    <tr>
      <td>KR2RML</td>
      <td>function body and parameters as hardcoded strings</td>
      <td>Python Package Index</td>
      <td>Yes</td>
      <td>Depend on KR2RML</td>
      <td>KR2RML-only</td>
    </tr>
    <tr>
      <td>Function Ontology</td>
      <td>declarative described, referenced function &amp; parameters</td>
      <td>Function Hub</td>
      <td>Yes</td>
      <td>Standalone</td>
      <td>Any</td>
    </tr>
    <tr>
      <td>FunUL</td>
      <td>function body as string, referenced function &amp; parameters</td>
      <td>Implementation dependent</td>
      <td>Yes</td>
      <td>Depend on RML</td>
      <td>RML-only</td>
    </tr>
    <tr>
      <td>D2RML</td>
      <td>declarative described, referenced function &amp; parameters</td>
      <td>No</td>
      <td>Partially</td>
      <td>Depend on D2RML</td>
      <td>D2RML-only, only pre-processing input data</td>
    </tr>
    <tr>
      <td>D-REPR</td>
      <td>function body and parameters as string, hardcoded parameters</td>
      <td>Python Package Index</td>
      <td>Yes</td>
      <td>Depend on D-REPR</td>
      <td>D-REPR-only, only pre-processing input data</td>
    </tr>
  </tbody>
</table>
