<table id="materialization-t3" class="display">
  <thead>
    <tr>
      <th>T3: Output Data &amp; T4: Output Data formats</th>
      <th>Karma-Web</th>
      <th>Morph-RDB</th>
      <th>Morph-xR2RML</th>
      <th>TripleWave</th>
      <th>GeoTriples</th>
      <th>RMLMapper</th>
      <th>RMLStreamer</th>
      <th>RDF-Gen</th>
      <th>MapSDI</th>
      <th>RocketRML</th>
      <th>SDM-RDFizer</th>
      <th>D-REPR</th>
      <th>FunMap</th>
      <th>Chimera</th>
      <th>SPARQL-Generate</th>
      <th>SPARGL-Anything</th>
      <th>ShExML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>File</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>Kafka stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>WebSocket stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>MQTT stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>TCP stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>SPARQL endpoint</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Web API</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>T4: Output Data formats</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>N-Triples</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>N-Quads</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>Turtle</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>N3</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>RDF/XML</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>RDF/JSON</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>JSON-LD</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>HDT</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>TriX</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>TriG</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>D-REPR JSON</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
