<table id="materialization-t1" class="display">
  <thead>
    <tr>
      <th>T1: Datasource</th>
      <th>Karma-Web</th>
      <th>Morph-RDB</th>
      <th>Morph-xR2RML</th>
      <th>TripleWave</th>
      <th>GeoTriples</th>
      <th>RMLMapper</th>
      <th>RMLStreamer</th>
      <th>RDF-Gen</th>
      <th>MapSDI</th>
      <th>RocketRML</th>
      <th>SDM-RDFizer</th>
      <th>D-REPR</th>
      <th>FunMap</th>
      <th>Chimera</th>
      <th>SPARQL-Generate</th>
      <th>SPARGL-Anything</th>
      <th>ShExML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>File</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>SQL RDB</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>NoSQL DB</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Kafka stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>WebSocket stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>MQTT stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>TCP stream</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>SPARQL endpoint</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Web API</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>Apache Hadoop</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
