<table id="schema-transformations-t1" class="display">
  <thead>
    <tr>
      <th>Schema Transformation</th>
      <th>S1: Schema transformation</th>
      <th>S2: Data transformation</th>
      <th>S3: Export description</th>
      <th>S4: End-to-End</th>
      <th>S5: Web standards integration</th>
      <th>S6: Joins</th>
      <th>S7: Intermediate representation</th>
      <th>S8: Nested hierarchies</th>
      <th>S9: Multi-paths</th>
      <th>S10: RDF triples</th>
      <th>S11: IRIs</th>
      <th>S12: Literals</th>
      <th>S13: Blank Nodes</th>
      <th>S14: Named graphs</th>
      <th>S15: Collections and containers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RML</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
    </tr>
    <tr>
      <td>xR2RML</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>D2RML</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
    </tr>
    <tr>
      <td>D-REPR</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:*</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>XSPARQL</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>SPARQL-Generate</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>ShExML</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
    </tr>
    <tr>
      <td>Facade-X</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
  </tbody>
</table>
