<table id="virtualization-t2" class="display">
  <thead>
    <tr>
      <th>T2: Data formats</th>
      <th>Morph-streams++</th>
      <th>Ontop</th>
      <th>Morph-RDB</th>
      <th>Morph-xR2RML</th>
      <th>SparqlMap-M</th>
      <th>Squerall</th>
      <th>Ontario</th>
      <th>Morph-RDB extension</th>
      <th>Obi-Wan</th>
      <th>XGSN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CSV format</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>JSON format</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>XML format</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>TSV format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>ODS format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>XLSX format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>GeoJSON format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>KML format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Shapefiles</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>SQL query</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>NoSQL query</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
    </tr>
    <tr>
      <td>SPARQL query</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
    </tr>
    <tr>
      <td>CBOR format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>HDT format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>RDF format</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>plain text</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>HTML format</td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Archives</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Neo4J graph</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>EXIF encoded</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>RSS</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>ESRI Grid ASCII</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>Images</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
  </tbody>
</table>
