<table id="virtualization-t4" class="display">
  <thead>
    <tr>
      <th>Virtualization implementation</th>
      <th>T5</th>
      <th>T6</th>
      <th>T7</th>
      <th>T8</th>
      <th>T9 and<br>T10</th>
      <th>T11</th>
      <th>T13a</th>
      <th>T13b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ontop</td>
      <td>R2RML or Ontop Mapping Language</td>
      <td>No</td>
      <td>NA</td>
      <td>Java</td>
      <td>CLI</td>
      <td>Apache-2.0</td>
      <td>SQL &amp; virtualization optimizations, aggregation on databases, ontological entailement</td>
      <td>with Denodo, Dremio or Teiid</td>
    </tr>
    <tr>
      <td>Morph-RDB</td>
      <td>R2RML</td>
      <td>No</td>
      <td>NA</td>
      <td>Scala</td>
      <td>CLI, Docker</td>
      <td>Apache-2.0</td>
      <td>SQL optimizations</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Morph-xR2RML</td>
      <td>xR2RML</td>
      <td>No</td>
      <td>NA</td>
      <td>Scala</td>
      <td>CLI, SPARQL end-point</td>
      <td>Apache-2.0</td>
      <td>Inherited from Morph-RDB</td>
      <td>No</td>
    </tr>
    <tr>
      <td>SparqlMap-M</td>
      <td>R2RML</td>
      <td>R2RML custom extension</td>
      <td>together, during schema transformation</td>
      <td>Java</td>
      <td>CLI, SPARQL end-point</td>
      <td>No license</td>
      <td>Query normalization &amp; analysis, mapping binding, execute on database engine</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Squerall</td>
      <td>RML</td>
      <td>FnO</td>
      <td>together, during schema transformation</td>
      <td>Java</td>
      <td>CLI, GUI</td>
      <td>Apache-2.0</td>
      <td>Spark or Presto processing, aggregation on data sources</td>
      <td>with Spark or Presto</td>
    </tr>
    <tr>
      <td>Ontario</td>
      <td>RML</td>
      <td>No</td>
      <td>NA</td>
      <td>Python</td>
      <td>CLI</td>
      <td>GPL-2.0</td>
      <td>Star shape subqueries on data sources, locally joined</td>
      <td>SPARQL federation</td>
    </tr>
    <tr>
      <td>Morph-RDB extension</td>
      <td>S 2 O</td>
      <td>No</td>
      <td>NA</td>
      <td>Scala</td>
      <td>CLI, Docker</td>
      <td>Apache-2.0</td>
      <td>Inherited from Morph-RDB</td>
      <td>with SNEEql</td>
    </tr>
    <tr>
      <td>XGSN</td>
      <td>SSN ontology</td>
      <td>Hardcoded in wrapper</td>
      <td>together, pre-processing of input data</td>
      <td>Java</td>
      <td>CLI, webapp, API</td>
      <td>GPL-3.0</td>
      <td>Access delegated to RDF stream processor</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Obi-Wan</td>
      <td>custom GLAV mapping</td>
      <td>No</td>
      <td>NA</td>
      <td>Java</td>
      <td>CLI, webapp</td>
      <td>MIT</td>
      <td>Ontology entailment</td>
      <td>with Tatooine</td>
    </tr>
  </tbody>
</table>
