<table id="virtualization-t3" class="display">
  <thead>
    <tr>
      <th>T3: Output Data &amp; T4: Output Data formats</th>
      <th>Morph-streams++</th>
      <th>Ontop</th>
      <th>Morph-RDB</th>
      <th>Morph-xR2RML</th>
      <th>SparqlMap-M</th>
      <th>Squerall</th>
      <th>Ontario</th>
      <th>Morph-RDB extension</th>
      <th>Obi-Wan</th>
      <th>XGSN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SPARQL Stream query result</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>SPARQL query result</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
    <tr>
      <td>CQELS query result</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td markdown="span">:heavy_check_mark:</td>
    </tr>
  </tbody>
</table>
